<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dot10tech.com.dot10projects">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />


    <application
            android:name=".Networking.VolleySingleton"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.example.android.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
                android:name=".SplashActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/ic_launcher_round"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".ClientActivity"/>
        <activity
                android:name=".LoginActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>
        <activity android:name=".EmployeeActivity"/>
        <activity android:name=".LoginScreen"/>
        <activity android:name=".Admin.LoggedInAs"/>
        <activity android:name=".Admin.OngoingProjects"/>
        >
        <activity
                android:name=".Admin.ClientDetails.ClientDetailActivity"
                android:theme="@style/Theme.Transparent"/>
        <activity
                android:name=".Admin.AdminMenu"
                android:theme="@style/Theme.Transparent"/>
        <activity
                android:name=".UI.OptionsViewerAdapter"
                android:theme="@style/Theme.Transparent"/>
        <activity android:name=".Admin.EditProjectasAdmin"/>
        <activity android:name=".Admin.AddNewProjectasAdmin"/>
        <activity android:name=".Admin.ClientDetails.ClientDetailsData"/>
        <activity android:name=".Admin.BurgerMenu.AddorRemoveUser"/>
        <activity
                android:name=".Main2Activity"
                android:label="@string/title_activity_main2"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".SettingsActivity"
                android:label="@string/title_activity_settings">
        </activity>
        <activity android:name=".Admin.BurgerMenu.Profile"/>
        <activity android:name=".Admin.ClientDetails.EditClientDetail"/>
        <activity android:name=".Employee.EditTeamActivity"/>
        <activity android:name=".UI.UploadActivity"/>
        <activity android:name=".Admin.ClientDetails.AddNewProjectDetails"/>
        <activity android:name=".Employee.EmployeeDashboard"/>
        <activity android:name=".Chats.Chatbox"/>
    </application>

</manifest>